8080tiny
aalib-static
aalib
aapt
abduco
abook
ack-grep
acr
adwaita-icon-theme
aerc
age
aircrack-ng-static
aircrack-ng
algernon
alpine
angband
antibody
antiword
apache
apksigner
apr-static
apr-util-static
apr-util
apr
apt-ftparchive
apt-transport-tor
apt
aptly
argp
aria
arj
arp-scan
arpack-ng-static
arpack-ng
asciidoc
asciidoctor
asciinema
aspell-de
aspell-en
aspell-es
aspell-fr
aspell-static
aspell
assimp-static
assimp
asymptote
at
aterm
atk
atomicparsley
atomvm
attr-static
attr
autoconf
autoconf
automake
autossh
axel
azpainter
babl
barcode
bash-completion
bash
bastet
bat
bc
bcalx
beanshell
bettercap
bftpd
bgrep
biber
binaryen
binutils-gold
binutils
bison-static
bison
bitcoin
blackbox
blogc
bmon
bochs
boinc
boinctui
boost-static
boost
borgbackup
brogue
brook
brotli-static
brotli
bsdtar
bthread-static
bthread
build-essential
busybox
bvi
byobu
bzip
c-ares
c-toxcore-static
c-toxcore
ca-certificates-java
ca-certificates
cabextract
caddy
calc
calcurse
capnproto-static
capnproto
capstone-static
capstone
cava
cavez-of-phear
cboard
ccache
ccls
ccnet-static
ccnet
ccrypt
cfengine-static
cfengine
cgal
cgdb
check-static
check
chezmoi
chromaprint
cicada
cksfv
clamav-static
clamav
clang
clash
cmake-curses-gui
cmake
cmark-static
cmark
cmatrix
cmus
cmusfm
codecrypt
colordiff
command-not-found
composer
containerd
coreutils
corkscrew
cowsay
cpio
cppcheck
cppi
cpulimit
croc
cronie
crunch
cryptopp
cryptsetup-static
cryptsetup
cscope
ctags
ctypes-sh
cups-static
cups
curl
curseofwar
cvs
daemonize
dar-static
dar
darkhttpd
dart
dash
dasm
datamash
db
dbus-glib-static
dbus-glib
dbus-static
dbus
dcraw
ddrescue
debianutils
debootstrap
delve
desktop-file-utils
deutex
dialog-static
dialog
dictd
diffutils
dirb
direnv
direvent
diskus
distcc
djvulibre-static
djvulibre
dmagnetic
dmenu
dnstcp
dnsmap
dnsmasq
dnsutils-static
dnsutils
docbook-xml
docbook-xsl
docopt-static
docopt
dopewars
dosunix
dosbox
dosfstools
double-conversion
doxygen
dpkg
dropbear
dtc-static
dtc
dte
duc
duf
duktape
dvtm
dwm
dx
efsprogs
ecj
ecl
ed
efte
eigen
eja
electric-fence-static
electric-fence
electrum
elinks
elixir
elvish
emacs
encfs -cfb-
enscript
entr
erlang
espeak-static
espeak
et
ethtool
ettercap
exa -git
exiftool
exiv-static
exiv
exo-static
exo
expect
fakeroot-static
fakeroot
fasd
fastmod
fd
fdroidcl
fdupes
feh
fetchmail
ffmpeg
ffsend
fftw-static
fftw
figlet
file-static
file
finch-static
finch
findomain
findutils
fish
flac
flex-static
flex
florence
fltk-static
fltk
fluxbox
fmt
fontconfig-static
fontconfig-utils
fontconfig
fortune
fossil
fp-compiler
freeglut-static
freeglut
freeimage-static
freeimage
freetype-static
freetype
fribidi-static
fribidi
frida-python
frida-server
frida-tools
frobtads
frogcomposband salmiak
frotz
fselect
fsmon
fvwm
fwknop-static
fwknop
fzf
fzy
galculator
game-repo
gap-static
gap
garcon-static
garcon
gatling
gawk-static
gawk
gbt
gcal
gccx
gcc-
gcc-x
gdal-static
gdal
gdb
gdbm-static
gdbm
gdk-pixbuf
geany-static
geany
gegl
geoip-database
getconf
geth-utils
geth
gettext-static
gettext
gflags-static
gflags
gh
ghc
ghostscript
giflib-static
giflib-utils
giflib
gifsicle
gifski
git-crypt
git-delta
git-gitk
git-gui
git-lfs
git
gitea
gitflow-avh
gkermit
glew-static
glew
glib-bin
glib
global-static
global
glpk-static
glpk
glu-static
glu
glulxe
gmic-gm
gmic
gnatx
gnat-x
gnucap
gnuchess
gnugo
gnuit
gnunet-static
gnunet
gnupg
gnuplot
gnurl-static
gnurl
gnushogi
gnuski
gnustep-base
gnustep-make
gnutls
go-findimagedupes
goaccess
gobjcx
gobjc-
gobjc-x
gogs
golang-doc
golang
google-glog
googletest
gopass
gotty
gperf
gpg-crypter
gpgme-static
gpgme
gpgv
gping
gprbuildx
gpsbabel
gptfdisk
graphicsmagick-static
graphicsmagick
graphviz-static
graphviz
greed
grep
groffx
gsl-static
gsl
gst-plugins-bad
gst-plugins-base
gst-plugins-good
gst-plugins-ugly
gstreamer
gtk-update-icon-cache
gtk-static
gtk
gtk-static
gtk
gtkwave
gtypist
guile-static
guile-static
guile
guile
gumbo-parser-static
gumbo-parser
gzip
haproxy
harfbuzz-icu
harfbuzz-utils
harfbuzz
hashdeep
helm
helpman
hexchat
hexcurse
hexedit
hexyl
heyu-rc
hfsutils
hicolor-icon-theme
hiptext
hoedown-static
hoedown
hollywood
hors
hping
html-xml-utils
htmltext
htop-legacy
htop
httping
httrack-static
httrack
hub
hugo
hunspell-en-us
hunspell-ru
hunspell-static
hunspell
hw-probe
hwinfo
hydra
hydroxide
hyperfine
ipd-static
ipd
i
istatus
icecast
iconv
icoutils
icu-devtools
imagemagick-static
imagemagick
imgflo
imlib-static
imlib
indent
inetutils
inotify-tools-static
inotify-tools
inxi
iodine
ipcalc
iperf-static
iperf
ipfs
ipmitool
ipset-static
ipset
ired
irssi
iso-codes
isync
iverilog-static
iverilog
iw
iwyu
jbigdec-static
jbigdec
jfrog-cli
jftui
jhead
jigdo
jo
joe
jpa
jpegoptim
jq-static
jq
json-c-static
json-c
json-glib
jsoncpp-static
jsoncpp
julia-llvm
julia
jupp jupp
kpdfopt
ks
kakoune
keybase
keychain
keystone
kibi
knockd
kona
krb
kubectl
lame
lastpass-cli
latino-static
latino
lazygit
lazyread
ldc
ldns-static
ldns
leafpad
ledger
leptonica-static
leptonica
less
lesspipe
leveldb
lexter
lf
lftp-static
lftp
lhasa-static
lhasa
libacl-static
libacl
libaio-static
libaio
libandroid-glob-static
libandroid-glob
libandroid-shmem-static
libandroid-shmem
libandroid-spawn-static
libandroid-spawn
libandroid-support-static
libandroid-support
libao-static
libao
libarchive-static
libarchive
libart-lgpl-static
libart-lgpl
libasm-static
libasm
libass-static
libass
libassuan-static
libassuan
libatomic-ops-dev
libblocksruntime
libbsd-static
libbsd
libburn-static
libburn
libbz
libc++ d
libcaca-static
libcaca
libcairo-static
libcairo
libcap-ng-static
libcap-ng
libcap-static
libcap
libccid
libcgal-dev
libcgal
libcln-static
libcln
libcoap-static
libcoap
libcompiler-rt-termux
libcompiler-rt
libconfig-static
libconfig
libconfuse-static
libconfuse
libcroco-static
libcroco
libcrypt
libcue
libcunit-static
libcunit
libcurl-static
libcurl
libczmq-static
libczmq
libdavd
libdb-static
libdb
libdevmapper
libdispatch
libdrm
libduktape
libdvbpsi-static
libdvbpsi
libdw-static
libdw
libebml
libedit-static
libedit
libelf-static
libelf
libepoxy
libev-static
libev
libevdev-static
libevdev
libevent
libexif-static
libexif
libexpat-static
libexpat
libfakekey-static
libfakekey
libffi-static
libffi
libflac-static
libflac
libfm-extra-static
libfm-extra
libfm-static
libfm
libfontenc-static
libfontenc
libfuse-static
libfuse
libfuse
libgc-static
libgc
libgccjit-devx
libgccjitdev
libgccjitdevx
libgcrypt-static
libgcrypt
libgd-static
libgd
libgeos
libgfortran-
libgfortran
libgfortran-x
libgfortranx
libgfshare-static
libgfshare
libgit
libglade-static
libglade
libgmime-static
libgmime
libgmp-static
libgmp
libgnatx
libgnat-x
libgnomecanvas-static
libgnomecanvas
libgnutls-static
libgnutls
libgompx
libgomp-
libgomp-
libgomp-x
libgpg-error-static
libgpg-error
libgraphite
libgrpc
libgsasl-static
libgsasl
libhdf-static
libhdf
libiberty-dev
libical
libice-static
libice
libiconv-static
libiconv
libicu-static
libicu
libidtag-static
libidtag
libidn-static
libidn-static
libidn
libidn
libimobiledevice-static
libimobiledevice
libisl-static
libisl
libisoburn-static
libisoburn
libisofs-static
libisofs
libjansson-static
libjansson
libjasper-utils
libjasper
libjpeg-turbo-progs
libjpeg-turbo-static
libjpeg-turbo
libksba-static
libksba
libllvm-julia
libllvm-static
libllvm
liblmdb-static
liblmdb
libltdl
liblua
liblua
liblua
libluajit
liblz-static
liblz
liblzma-static
liblzma
liblzo-static
liblzo
libmaa-static
libmaa
libmad-static
libmad
libmatroska
libmaxminddb-static
libmaxminddb-tools
libmaxminddb
libmcrypt-static
libmcrypt
libmediainfo-static
libmediainfo
libmesode-static
libmesode
libmhash-static
libmhash
libmicrohttpd-static
libmicrohttpd
libmnl-static
libmnl
libmosquitto
libmplame-static
libmplame
libmpsplt-static
libmpsplt
libmpc-static
libmpc
libmpdclient
libmpeg-static
libmpeg
libmpfr-static
libmpfr
libmsgpack-static
libmsgpack
libnet-static
libnet
libnettle-static
libnettle
libnfs-static
libnfs
libnftnl-static
libnftnl
libnghttp-static
libnghttp
libnl-static
libnl
libnotify
libnpth-static
libnpth
libobjc-
libobjc-x
libobjcx
libogg-static
libogg
liboggz-static
liboggz
libopenfec
libopenmpt-static
libopenmpt
libopenspecfun-static
libopenspecfun
libopus-static
libopus
libopusenc-static
libopusenc
libotr-static
libotr
libowfat
libpcap-static
libpcap
libpciaccess-static
libpciaccess
libpcreposix
libpcsclite-static
libpcsclite
libpipeline-static
libpipeline
libpixman-static
libpixman
libplist-static
libplist
libpng-static
libpng
libpolly
libpopt-static
libpopt
libprotobuf-c-static
libprotobuf-c
libprotobuf
libpsl-static
libpsl
libqrencode
libraqm-static
libraqm
librsvg-static
librsvg
librsync
libsasl-static
libsasl
libsearpc-static
libsearpc
libseccomp-static
libseccomp
libsecpk-static
libsecpk
libsignal-protocol-c
libsigsegv-static
libsigsegv
libsixel-static
libsixel
libsm-static
libsm
libsmb-static
libsmb
libsndfile-static
libsndfile
libsodium-static
libsodium
libsoup
libsoxr
libsqlite-static
libsqlite-tcl
libsqlite
libssh-static
libssh
libssh
libsundials-static
libsundials
libtoc-static
libtoc
libtasn-static
libtasn
libtd-static
libtd
libtermkey
libtheora-static
libtheora
libtiff-static
libtiff-utils
libtiff
libtirpc-static
libtirpc
libtommath-dev
libtommath
libtool
libtorrent-static
libtorrent
libunibilium
libunique-static
libunique
libunistring-static
libunistring
libusb-static
libusb
libusbmuxd-static
libusbmuxd
libuuid-static
libuuid
libuv-static
libuv
libvidstab
libvips-static
libvips
libvncserver
libvorbis-static
libvorbis
libvpx-static
libvpx
libvte
libvterm
libwebp-static
libwebp
libwebrtc-audio-processing-static
libwebrtc-audio-processing
libwebsockets
libwnck
libwren
libx-static
libx
libx-static
libx
libx-static
libx
libxemu
libxapian-static
libxapian
libxau-static
libxau
libxaw-static
libxaw
libxcb-static
libxcb
libxcomposite-static
libxcomposite
libxcursor-static
libxcursor
libxdamage-static
libxdamage
libxdmcp-static
libxdmcp
libxext-static
libxext
libxfceui-static
libxfceui
libxfceutil-static
libxfceutil
libxfixes-static
libxfixes
libxfont-static
libxfont
libxft-static
libxft
libxi-static
libxi
libxinerama-static
libxinerama
libxkbcommon
libxkbfile-static
libxkbfile
libxklavier-static
libxklavier
libxml-static
libxml-utils
libxml
libxmu-static
libxmu
libxpm-static
libxpm
libxrandr-static
libxrandr
libxrender-static
libxrender
libxshmfence-static
libxshmfence
libxslt-static
libxslt
libxss-static
libxss
libxt-static
libxt
libxtst-static
libxtst
libxxfdga-static
libxxfdga
libxxfvm-static
libxxfvm
libyaml-static
libyaml
libzen-static
libzen
libzim
libzip
libzmq-static
libzmq
libzopfli
lightning-static
lightning
lighttpd-static
lighttpd
links
littlecms-static
littlecms-utils
littlecms
llbuild
lld
lldb
llvm
lnd -beta-
logrotate
loksh
loqui
lsd
lsof
ltrace
lua-lpeg
lua
lua
lua
luajit
luarocks
luv
lxc-static
lxc
lxde-icon-theme
lxmenu-data
lynx rel-
lz
lzip
lzlib-static
lzlib
lzop
m4
macchanger
make
man
manpages
mapserver
mariadb-static
mariadb
matchbox-keyboard
mathomatic
mbedtls
mc
mdns-scan
mdp
mediainfo
megatools
memcached
menu-cache-static
menu-cache
mesa
mg
micro
microsocks -ac-
mime-support
minicom
minidlna
miniupnpc-static
miniupnpc
miri-nightly
mksh c
mktorrent
mkvtoolnix
mlocate
moarvm
mongodb
moon-buggy
moreutils
moria
morseascii
mosh
mosquitto
most
mpsplt
mpc
mpd
mpdscribble
mpg-static
mpg
mpich-static
mpich
mpv-x
mpv
msmtp
mtd-utils
mtdev-static
mtdev
mtools
mtpaint
mtr
mu
muchsync
multitail
mupdf-static
mupdf-tools
mupdf
music-file-organizer
mutt
myman
myrepos
nano
natpmpc-static
natpmpc
nbtscan
ncdc
ncdu
ncmpcpp
ncompress
ncurses-static
ncurses-ui-libs-static
ncurses-ui-libs
ncurses-utils
ncurses
ndk-multilib d
ndk-sysroot d
ne
neofetch
neomutt
neovim
net-tools
netcat-openbsd
netcat
netcdf-c-static
netcdf-c
nethack
nethogs
netpbm
netsed
netsurf
nettle
newsboat
nginx
nim
ninja
ninvaders
nlohmann-json
nmap
nmh
nnn
nodejs-lts
nodejs
notmuch
nsnake
nudoku
numpy
nushell
nyancat
nzbget
o-editor
oathtool-static
oathtool
obconf
obfsproxy
ocaml
ocrad-static
ocrad
octave-static
octave
odttxt
okc-agents
oleo
oniguruma-static
oniguruma
opam
open-adventure
open-zwave -git
openal-soft
openbabel
openblas-static
openblas
openbox-static
openbox
opencv
openethereum-utils
openethereum
openfoam
openjpeg-tools
openjpeg
openldap-static
openldap
openmpi-static
openmpi
openscad
openssh p
openssl-static i
openssl-tool i
openssl i
openttd-gfx
openttd-msx
openttd-sfx
openttd
openvpn
optipng
opus-tools
opusfile-static
opusfile
osmctools
ossp-uuid-static
ossp-uuid
ovmf gedbba
pzip
pacmanconsole
pandoc
pango
paperkey
par
parel
pari-gpx
parted-static
parted
pass-otp
pass
pastebinit
patch
patchelf
pathpicker
pcaudiolib-static
pcaudiolib
pciutils
pcmanfm
pcre-static
pcre-static
pcre
pcre
pcscd
pdfsvg
pdfgrep
perl
pforth
php-apache
php-fpm
php-pgsql
php-redis
php
phpmyadmin
pianobar
pick
picolisp
pidgin-static
pidgin
pigz
pinentry-gtk
pinentry
pixiewps
pkg-config
play-audio
plotutils-static
plotutils
plzip
pngquant
polipo
polybar
poppler
portaudio-static
portaudio
postgresql-static
postgresql
potrace
povrayx
privoxy
procps-static
procps
profanity
progress
proj
proot-distro
proot
protobuf
proton-bridge
proxmark
proxychains-ng
psmisc
psutils
ptunnel-ng
pulseaudio-static
pulseaudio
pup
pure-ftpd
putty
pv
pwgen
pypanel
python-static
python-tkinter
python-numpy
python-scipy
python-six
python-static
python-xlib
python
python
qalc-static
qalc
qemu-common
qemu-systemheadless
qemu-system-
qemu-system-arm-headless
qemu-system-arm
qemu-system-i-headless
qemu-system-i
qemu-system-riscv-headless
qemu-system-riscv
qemu-system-riscv-headless
qemu-system-riscv
qemu-system-xheadless
qemu-system-x-
qemu-user-
qemu-user-arm
qemu-user-i
qemu-user-riscv
qemu-user-riscv
qemu-user-x_
qemu-utils
qgit
qhull
qpdf-static
qpdf
qrupdate-staticx
qrupdatex
qt-base
qt-declarative
qt-tools
qt-xextras
quantlib-static
quantlib
quickjs-static
quickjs
r-base
r-cran-rcpp
r-cran-rquantlibx
r-cran-stringi
r-cran-tidyversex
r-cran-zoo
racket-static
racket
radare-static
radare
ragel
rakudo
ranger
rapidjson
rappel
rclone
rcm
rcs
rcshell
rdiff-backup
rdiff
readline-static
readline
recordmydesktop
recutils-static
recutils
redir
redis
remind
renameutils
resolv-conf
restic-server
restic
rgbds
rhash-static
rhash
rinetd -bdd-
ripgrep-
ripgrep
rlwrap
roc
rofi
root-repo
rsnapshot
rsync
rtmpdump-static
rtmpdump
rtorrent
ruby-ri
ruby
runc -rc-
runit
rush
rust-nightly-wasm-unknown-unknown
rust-rls-nightly
rust-src-nightly
rust-std-wasm
rust
rustc-dev-nightly
rustc-dev
rustc-nightly
rustfmt-nightly
rustscan
samba
samefile
sc-im
sc
science-repo
scipy
screen
screenfetch
scrub
scrypt
sdcv
sdl-image-static
sdl-image
sdl-mixer-static
sdl-mixer
sdl-net-static
sdl-net
sdl-static
sdl-image-static
sdl-image
sdl-mixer-static
sdl-mixer
sdl-static
sdl-ttf-static
sdl-ttf
sdl
sdl
seafile-client-static
seafile-client
seccure
secure-delete
sed
sensible-utils
serf-static
serf
setup-scripts
shared-mime-info
sharutils
shc
shellhttp
shellharden
shellinabox
shfmt
shiori
shtool
silversearcher-ag
sl
slang
sleuthkit-static
sleuthkit
smtalk-static
smtalk
snake
socat
solidity
sops
sox-static
sox
speexdsp-static
speexdsp
spiped
sqlcipher-static
sqlcipher
sqlite
squashfuse-static
squashfuse
squid
srelay p-
sshpass
sslscan
ssss
st
stag
starship
startup-notification-static
startup-notification
stdman
steghide
stfl-static
stfl
stow
strace
streamripper
stunnel-static
stunnel
subversion-static
subversion
suitesparse
surfraw
swaks
swi-prolog
swift
swig
syncthing
ta-lib-static
ta-lib
taglib
tar
task-spooler
tasksh
taskwarrior
tcc
tcl
tcpdump
tcsh
teckit-static
teckit
telegram-cli
telepathy-glib-static
telepathy-glib
teleport-tsh
tergent
termimage
termshark
termux-am
termux-api
termux-apt-repo
termux-auth
termux-create-package
termux-elf-cleaner
termux-exec
termux-keyring
termux-licenses
termux-services
termux-tools
teseq
tesseract-static
tesseract
testdisk
texinfo
texlive-alegreya
texlive-antt
texlive-bibtexextra
texlive-bin-static
texlive-bin
texlive-binextra
texlive-cm-unicode
texlive-context
texlive-cormorantgaramond
texlive-dejavu
texlive-drm
texlive-ebgaramond
texlive-fira
texlive-fontsextra
texlive-fontsrecommended
texlive-fontutils
texlive-formatsextra
texlive-full
texlive-games
texlive-humanities
texlive-inster
texlive-ipaex-type
texlive-langarabic
texlive-langchinese
texlive-langcjk
texlive-langcyrillic
texlive-langczechslovak
texlive-langenglish
texlive-langeuropean
texlive-langfrench
texlive-langgerman
texlive-langgreek
texlive-langitalian
texlive-langjapanese
texlive-langkorean
texlive-langother
texlive-langpolish
texlive-langportuguese
texlive-langspanish
texlive-latexextra
texlive-latexrecommended
texlive-lato
texlive-libertine
texlive-libertinus-type
texlive-luatex
texlive-mathscience
texlive-metapost
texlive-montserrat
texlive-mpfonts
texlive-music
texlive-noto
texlive-paratype
texlive-pictures
texlive-plaingeneric
texlive-plex
texlive-poltawski
texlive-pstricks
texlive-publishers
texlive-roboto
texlive-stickstoo
texlive-xetex
texlive
the-powder-toy
thunar-static
thunar
tidy-static
tidy
tig
tigervnc-viewer
tigervnc
timewarrior
tin-summer
tinc
tintin++
tinyfugue b
tinyproxy
tinyscheme
tk
tmate
tmux c
toilet
tokei
tor
torsocks
toxic
tracepath
translate-shell
transmission-gtk
transmission
tree
tshark
tsocks beta
tsu
ttf-dejavu
tty-clock
tty-solitaire-
ttyd
ttyrec
tweego
uchardet-dev
uchardet-static
uchardet
uftrace
uget
unicorn-static
unicorn
unifdef
units
unrar
unshield
un-repo
unzip
usbmuxd
utfcpp
utfproc-static
utfproc
utfdecode
util-linux-static
util-linux
uucp
valac-static
valac
valadoc
valgrind-static
valgrind
vcsh
vegeta
vifm
vim-gtk
vim-python
vim-runtime
vim
virustotal-cli
vis
vitetris
vlang
vlc
vorbis-tools
vttest
vtutils
wm-img
wm
wavemon
wcalc
weechat-lua-plugin
weechat-perl-plugin
weechat-python-plugin
weechat-ruby-plugin
weechat
wget-static
wget
wget
whatprovides
wireguard-tools
wireless-tools-static pre-
wireless-tools pre-
wireshark-gtk-static
wireshark-gtk
wmaker-static
wmaker
wol
wordgrinder
wpa-supplicant
wren
wrk
wuzz
x-repo
xvnc
x11-repo
x
xx
xapian-tools
xarchiver
xbitmaps
xcb-proto
xcb-util-cursor-static
xcb-util-cursor
xcb-util-image-static
xcb-util-image
xcb-util-keysyms-static
xcb-util-keysyms
xcb-util-renderutil-static
xcb-util-renderutil
xcb-util-static
xcb-util-wm-static
xcb-util-wm
xcb-util-xrm-static
xcb-util-xrm
xcb-util
xcompmgr
xdelta
xfce-panel-static
xfce-panel
xfce-session
xfce-settings
xfce-terminal
xfce
xfconf-static
xfconf
xfdesktop
xfwm
xkeyboard-config
xmake
xmlada-static
xmlada
xmlsec-static
xmlsec
xmlstarlet
xorg-font-util
xorg-fontsdpi
xorg-fonts-dpi
xorg-fonts-alias
xorg-fonts-encodings
xorg-iceauth
xorg-luit
xorg-mkfontscale
xorg-server-xvfb
xorg-twm
xorg-util-macros
xorg-xauth
xorg-xcalc
xorg-xclock
xorg-xdpyinfo
xorg-xev
xorg-xhost
xorg-xkbcomp
xorg-xlsfonts
xorg-xmessage
xorg-xrdb
xorg-xsetroot
xorgproto
xorriso
xournal
xrdp-static
xrdp
xsel
xsltproc
xtrans
xvidcore-static
xvidcore
xxhash-static
xxhash
xz-utils
yadm
yajl-static
yajl
yara-static
yara
yarn
yasm-static
yasm
youtubedr
z
zbar-static
zbar
zeronet
zile
zip
zlib-static
zlib
zopfli
zoxide
zsh
zstd-static
zstd
zsync
zziplib
